* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #040c0e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color:#a4978e;
}
